@using VMS_ASP_NET.Models
@{
    List<UserRole> userRoles = ViewBag.ListofUsers;
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <button id="CreateNewUser" type="button" class="mr-1 btn btn-success" data-toggle="modal" data-target="#createuser"><i class="fa fa-plus"></i> Create User</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <form class="float-right form-inline">
                                    <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
                                        <label class="mr-sm-2">Filter All: </label>
                                        <input placeholder="Search here ..." type="text" class="form-control" value="">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="ReactTable -striped -highlight hideFilterRow">
                            <div class="rt-table" role="grid">
                                <div class="rt-thead -header" style="min-width: 870px;">
                                    <div class="rt-tr" role="row">
                                        <div class="rt-th rt-resizable-header -cursor-pointer" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;">
                                            <div class="rt-resizable-header-content">Username</div>
                                            <div class="rt-resizer"></div>
                                        </div>
                                        <div class="rt-th rt-resizable-header -cursor-pointer" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;">
                                            <div class="rt-resizable-header-content">First Name</div>
                                            <div class="rt-resizer"></div>
                                        </div>
                                        <div class="rt-th rt-resizable-header -cursor-pointer" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;">
                                            <div class="rt-resizable-header-content">Last Name</div>
                                            <div class="rt-resizer"></div>
                                        </div>
                                        <div class="rt-th rt-resizable-header" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;">
                                            <div class="rt-resizable-header-content">Roles</div>
                                            <div class="rt-resizer"></div>
                                        </div>
                                        <div class="rt-th rt-resizable-header -cursor-pointer" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;">
                                            <div class="rt-resizable-header-content">User Type</div>
                                            <div class="rt-resizer"></div>
                                        </div>
                                        <div class="rt-th rt-resizable-header -cursor-pointer" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;">
                                            <div class="rt-resizable-header-content">Current Status</div>
                                            <div class="rt-resizer"></div>
                                        </div>
                                        <div class="rt-th rt-resizable-header -cursor-pointer" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;">
                                            <div class="rt-resizable-header-content">Currently Logged In</div>
                                            <div class="rt-resizer"></div>
                                        </div>
                                        <div class="rt-th -cursor-pointer" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;">
                                            <div class="">Password Reset</div>
                                        </div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 70 0 auto; width: 70px; max-width: 70px;">
                                            <div class="">Actions</div>
                                        </div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 0 0 auto; width: 0px; max-width: 0px;">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rt-thead -filters" style="min-width: 870px;">
                                    <div class="rt-tr" role="row">
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;"></div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;"></div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;"></div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;"></div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;"></div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;"></div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;"></div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 100 0 auto; width: 100px;"></div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 70 0 auto; width: 70px; max-width: 70px;"></div>
                                        <div class="rt-th" role="columnheader" tabindex="-1" style="flex: 0 0 auto; width: 0px; max-width: 0px;">0</div>
                                    </div>
                                </div>
                                <div class="rt-tbody" style="min-width: 870px;">

                                    @if (userRoles != null)
                                    {
                                        foreach (var item in userRoles)
                                        {
                                            <div class="rt-tr-group feeRowTest" role="rowgroup">
                                                <div class="rt-tr -odd" role="row">
                                                    <input type="hidden" name="HiddenName" value="@item.RoleID" class="hiddenInputID" id="hiddenInputID" />
                                                    <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;">@item.User.UserName</div>
                                                    <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;">@item.User.FirstName</div>
                                                    <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;">@item.User.LastName</div>
                                                    <div class="rt-td text-center feeRowTest" role="gridcell" style="flex: 100 0 auto; width: 100px;">

                                                        @if (item.Role.RoleName == "SuperUser")
                                                        {
                                                            <td>
                                                                <div class="item">
                                                                    <span class="badge badge-success" style="margin: 0.1rem;">@item.Role.RoleName</span>
                                                                </div>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <div class="item feeRowTest">
                                                                    <span class="badge badge-success" style="margin: 0.1rem;">@item.Role.RoleName</span>
                                                                    <button type="button" class="p-2 btn btn-link btn-sm" onclick="fnChangeUserRole(@item.UserID)" data-toggle="modal" data-target="#edituser-role"><i class="fa fa-pencil"></i></button>
                                                                </div>
                                                            </td>
                                                        }

                                                    </div>
                                                    @if (item.User.isExternal == true)
                                                    {
                                                        <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;"><span> External</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;"><span> Internal</span></div>
                                                    }
                                                    @if (item.User.isActive == true)
                                                    {
                                                        <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;"><span> Active</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;"><span> In Avtive</span></div>
                                                    }
                                                    @if (item.User.isLogin == true)
                                                    {
                                                        <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;">
                                                            <span class="badge badge-success"> Yes</span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;">
                                                            <span class="badge badge-danger">No</span>
                                                        </div>
                                                    }
                                                    @if (item.User.isPasswordReset == true)
                                                    {
                                                        <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;"><span class="badge badge-success"> Yes</span></div>
                                                    }
                                                    else
                                                    {
                                                        <div class="rt-td text-center" role="gridcell" style="flex: 100 0 auto; width: 100px;">
                                                            <span class="badge badge-danger">No</span>
                                                        </div>
                                                    }

                                                    <div class="rt-td text-center" role="gridcell" style="flex: 70 0 auto; width: 70px; max-width: 70px;">
                                                        <td>
                                                            <button type="button" class="mr-1 btn btn-primary btn-sm" data-toggle="modal" data-target="#edituser" onclick="fnGetUserByUserID(@item.UserID)"><i class="fa fa-pencil"></i> Edit</button>
                                                        </td>
                                                    </div>
                                                    <div class="rt-td hideTableColumn" role="gridcell" style="flex: 0 0 auto; width: 0px; max-width: 0px;"></div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="pagination-bottom">
                                <div class="-pagination">
                                    <div class="-previous">
                                        <button type="button" disabled="" class="-btn">Previous</button>
                                    </div>
                                    <div class="-center"><span class="-pageInfo">Page <div class="-pageJump"><input aria-label="jump to page" type="number" value="1"></div> of <span class="-totalPages">1</span></span><span class="select-wrap -pageSizeOptions"><select aria-label="rows per page"><option value="5">5 rows</option><option value="10">10 rows</option><option value="20">20 rows</option><option value="25">25 rows</option><option value="50">50 rows</option><option value="100">100 rows</option></select></span></div>
                                    <div class="-next">
                                        <button type="button" disabled="" class="-btn">Next</button>
                                    </div>
                                </div>
                            </div>
                            <div class="-loading">
                                <div class="-loading-inner">Loading...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="createuser">
    <div class="modal-dialog modal-success modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-plus"></i> Create User</h5>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div id="CreateUserForm">

            </div>


        </div>
    </div>
</div>


<div class="modal fade show" id="edituser">
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-pencil"></i> Edit User</h5>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>

            <div id="EditUserForm">

            </div>

        </div>
    </div>
</div>


<div class="modal fade show" id="edituser-role">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-pencil"></i> Edit User Roles</h5>
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            
            <div id="ChangeUserRoleForm">

            </div>

        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        @if (TempData["sucessMsg"]!= null) {
            @: $.notify('@TempData["sucessMsg"]', "success");
        }
    })

    $('#CreateNewUser').click(function () {
        $.ajax({

            url: "/Users/CreateUser/",
            success: function (result) {
                $("#CreateUserForm").html(result);
            }
        });

    });

    function fnGetUserByUserID(id) {
        $.ajax({

            url: "/Users/EditUser/",
            data: { 'id': id },
            success: function (result) {
                $("#EditUserForm").html(result);
            }
        });
    };

    function fnChangeUserRole(id) {
        $.ajax({

            url: "/Users/ChangeUserRole/",
            data: { 'id': id },
            success: function (result) {
                $("#ChangeUserRoleForm").html(result);
            }
        });
    }
    
</script>