@model VMS_ASP_NET.Models.IncidentReport
@using VMS_ASP_NET.Models;
@{
    ViewBag.Title = "EditIncidentReport";
    Layout = null;
    List<SelectListItem> IncidentList = (List<SelectListItem>)Session["AllIncident"];
    List<StateProvince> StateList = (List<StateProvince>)Session["AllStaesList"];
    List<SelectListItem> VehicleMake = (List<SelectListItem>)Session["allMake"];
    List<SelectListItem> TrailerAttachment = (List<SelectListItem>)Session["trailerList"];
    IncidentReport incidentReport = ViewBag.incidentReport;
}

@using (Html.BeginForm("UpdateIncidentReport", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="fa fa-pencil"></i>
            Edit Incident Report
        </h5>
        <button type="button" data-dismiss="modal" class="close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <input type="hidden" value="@incidentReport.IncidentReportID" name="IncidentReportID" id="IncidentReportID" />
    <div class="pb-0 pt-0 modal-body">
        <span class="text-muted"><b style="color: red;"> *</b> fields are required.</span>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Incident Type <i class="icon-question" id="" IncidentTypeTooltipElement"></i></label>
                    <div class="col-sm-7">
                        @Html.DropDownList("Incident", IncidentList, "Choose One", new { @disabled = "disabled", name = "Incident", @class = "form-control-sm form-control", required = "required" })
                    </div>
                </div>
            </div>
            @*<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="mb-2 position-relative row form-group">
                        <label class="col-sm-5 col-form-label">Incident Type <b style="color: red;"> * </b><i class="icon-question" id="IncidentTypeTooltipElement"></i></label>
                        <div class="col-sm-7">
                            @Html.DropDownList("Incident", IncidentList, "-Select Incident Type-", new { name = "Incident", @class = "mdb-select md-form colorful-select dropdown-primary",disable="disable", required = "required" })

                            <div tabindex="-1" class="rw-multiselect rw-widget">

                                <span id="rw_5_notify_area" role="status" class="rw-sr" aria-live="assertive" aria-atomic="true" aria-relevant="additions removals text"></span>

                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-2 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Date &amp; Time of incident<b style="color: red;">*</b></label>
                    <div class="col-sm-4">
                        <div class="rdt DateTimePickerClass">
                            <input type="text" name="IncidentDate" class="form-control" placeholder="Date" readonly="" value="@incidentReport.IncidentDateTime.ToString("dd-MM-yyyy")">
                        </div>
                    </div>
                    <div class="pl-0 col-sm-3">
                        <div class="rdt DateTimePickerClass">
                            <input type="text" name="IncidentTime" class="form-control" placeholder="Time" readonly="" value="@incidentReport.IncidentDateTime.ToString("hh:mm tt")">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Location <b style="color: red;"> * </b></label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-invalid">*@
                        <div class="position-relative form-group"><input placeholder="IncidentLocation" name="IncidentLocation" value="@incidentReport.IncidentLocation" readonly required="" minlength="5" maxlength="50" id="IncidentLocation" type="text" class="form-control-sm is-untouched is-pristine av-invalid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="pr-0 col-sm-5 col-form-label">Security Officer <b style="color: red;"> * </b></label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-invalid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.SecurityOfficerName" readonly name="SecurityOfficerName" placeholder="Security Officer" required="" minlength="5" maxlength="50" id="SecurityOfficerName" type="text" class="form-control-sm is-untouched is-pristine av-invalid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Primary Person(s) <b style="color: red;"> * </b><i class="icon-question" id="TooltipElement"></i></label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-invalid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.PrimaryInvolvedPerson" readonly name="PrimaryInvolvedPerson" placeholder="Primary Person(s)" required="" minlength="3" maxlength="30" id="PrimaryInvolvedPerson" type="text" class="form-control-sm is-untouched is-pristine av-invalid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Name</label>
                    <div class="col-sm-4">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input readonly name="name" placeholder="Name" minlength="3" maxlength="50" id="name" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                    <label for="shiftSelect" class="pl-0 col-sm-1 col-form-label">Shift</label>
                    @*<div class="pr-0 pl-0 col-sm-2">
                            <div class="bootstrap-switch  bootstrap-switch-on bootstrap-switch-mini" tabindex="0" style="width: 58px;">
                                <div class="bootstrap-switch-container" style="width: 87px; margin-left: 0px;"><span class="bootstrap-switch-handle-on bootstrap-switch-primary" style="width: 29px;">AM</span><span class="bootstrap-switch-label" style="width: 29px;"> </span><span class="bootstrap-switch-handle-off bootstrap-switch-default" style="width: 29px;">PM</span></div>
                            </div>
                        </div>*@
                    <div class="pr-0 pl-0 col-sm-2">
                        <select id="Shift" name="Shift" required readonly class="form-control-sm form-control">
                            @*<option value="">Choose One</option>*@
                            <option value="@incidentReport.Shift">@incidentReport.Shift</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Driver License Number<b style="color: red;"> * </b></label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-invalid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.DriverLicenseNo" readonly name="DriverLicenseNo" placeholder="Driver License Number" required="" minlength="5" maxlength="25" id="DriverLicenseNo" type="text" class="form-control-sm is-untouched is-pristine av-invalid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Company Name<b style="color: red;"> * </b></label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-invalid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.CompanyName" readonly name="CompanyName" placeholder="Company Name" required="" minlength="5" maxlength="50" id="CompanyName" type="text" class="form-control-sm is-untouched is-pristine av-invalid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Address<b style="color: red;"> * </b></label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-invalid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.Address" readonly name="Address" placeholder="Address" minlength="5" maxlength="50" id="Address" type="text" class="form-control-sm is-untouched is-pristine av-invalid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Telephone</label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.Telephone" readonly name="Telephone" placeholder="1 234 567 8900" pattern="^[0-9]+$" minlength="5" maxlength="11" id="Telephone" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-2 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Date of Birth</label>
                    <div class="col-sm-7">
                        <div class="rdt DateTimePickerClass">
                            <input type="text" name="DateOfBirth" value="@incidentReport.BirthDate.ToString("dd-MM-yyyy")" readonly class="form-control" placeholder="Date of Birth">
                            <div class="rdtPicker">
                                <div class="rdtDays">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-2 position-relative row form-group">
                    <label for="SupervisorNameSelection" class="col-sm-5 col-form-label">Supervisor Name<b style="color: red;"> * </b></label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-invalid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.SupervisorName" readonly required="" name="SupervisorName" placeholder="Supervisor Name" id="SupervisorName" type="text" class="form-control-sm is-untouched is-pristine av-invalid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Supervisor Telephone</label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.SupervisorPhoneNumber" readonly name="SupervisorTelephone" placeholder="Supervisor Telephone" pattern="^[0-9]+$" minlength="5" maxlength="11" id="SupervisorTelephone" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Vehicle Make <i class="icon-question" id="vehicleMakeTooltipElement"></i></label>
                    <div class="col-sm-7">
                        @Html.DropDownList("VehicleMake", VehicleMake, new { disabled = "disabled", name = "VehicleMake", @class = "form-control-sm form-control", required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Vehicle Model <i class="icon-question" id="VehicleModelTooltipElement"></i></label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.VehicleModel" readonly name="VehicleModel" placeholder="Vehicle Model" minlength="5" maxlength="50" id="VehicleModel" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Vehicle License Plate</label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.VehicleLicensePlateNo" readonly name="VehicleLicensePlateNo" placeholder="Vehicle License Plate" minlength="5" maxlength="50" id="VehicleLicensePlateNo" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-2 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Vehicle License State</label>
                    <div class="col-sm-7">
                        <select disabled class="form-control-sm form-control">
                            <option value="">Choose One</option>
                            @foreach (var item in StateList)
                            {
                                if (item.StateName == "Texas" && item.StateCode == "TX")
                                {
                                    <option selected="selected">
                                        @item.StateCode (@item.StateName)
                                    </option>
                                }
                                else
                                {
                                    <option>
                                        @item.StateCode (@item.StateName)
                                    </option>
                                }
                            }

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-2 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Trailer Attachment</label>
                    <div class="col-sm-7">
                        @Html.DropDownList("TrailerAttachment", TrailerAttachment, "Choose One", new { disabled = "disabled", name = "TrailerAttachment", @class = "form-control-sm form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Trailer State</label>
                    <div class="col-sm-7">
                        <select disabled class="form-control-sm form-control">
                            <option value="">Choose One</option>
                            @foreach (var item in StateList)
                            {
                                if (item.StateName == "Texas" && item.StateCode == "TX")
                                {
                                    <option selected="selected">
                                        @item.StateCode (@item.StateName)
                                    </option>
                                }
                                else
                                {
                                    <option>
                                        @item.StateCode (@item.StateName)
                                    </option>
                                }
                            }

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Incident Description </label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.IncidentDescription" readonly name="IncidentDescription" placeholder="Incident Description" id="IncidentDescription" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Trailer License Plate</label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.TrailerLicensePlateNo" readonly name="TrailerLicensePlateNo" placeholder="Trailer License Plate" minlength="5" maxlength="50" id="TrailerLicensePlateNo" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Trailer VIN</label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.TrailerVIN" readonly name="TrailerVIN" placeholder="Trailer VIN" minlength="5" maxlength="50" id="TrailerVIN" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="pr-0 col-sm-5 col-form-label">Insurance Company<b style="color: red;"> * </b></label>
                    <div class="col-sm-7">
                        <select name="CurrentlyInsured" readonly class="form-control-sm form-control">
                            <option value="">Choose One</option>
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Vendor</label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.Vendor" readonly name="Vendor" placeholder="Vendor" minlength="5" maxlength="30" id="Vendor" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <span></span>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Work Site</label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.WorkSite" readonly name="WorkSite" placeholder="Work Site" minlength="5" maxlength="30" id="WorkSite" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Site Type</label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group"><input value="@incidentReport.SiteType" readonly name="SiteType" placeholder="Site Type" minlength="5" maxlength="50" id="SiteType" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control"></div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Attachments <i class="icon-question" id="AttachmentsTooltipElement"></i></label>
                    <div class="col-sm-7"><button type="button" class="btn btn-primary btn-sm btn-block">Add</button></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Disposition <i class="icon-question" id="DispositionTooltipElement"></i></label>
                    <div class="col-sm-7">
                        @*<form novalidate="" action="#" method="get" class="av-valid">*@
                        <div class="position-relative form-group">
                            <input name="Disposition" value="@incidentReport.Disposition" readonly placeholder="Disposition" minlength="5" maxlength="50" id="Disposition" type="text" class="form-control-sm is-untouched is-pristine av-valid form-control">
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <label class="col-sm-5 col-form-label">Status<b style="color: red;"> *</b></label>
                    <div class="col-sm-7">
                        <select name="Status" class="form-control-sm form-control">
                            @if (incidentReport.Status == "Pending")
                            {
                                <option value="Pending" selected>Pending</option>
                                <option value="Approved">Approved</option>
                            }
                            else
                            {
                                <option value="Approved" selected>Approved</option>
                                <option value="Pending">Pending</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="mb-0 position-relative row form-group">
                    <div class="ml-3">
                        <div class="custom-checkbox custom-control">
                            @if (incidentReport.Signature == true)
                            {
                                <input type="checkbox" disabled checked name="signature" id="signature" class="custom-control-input">
                            }
                            else
                            {
                                <input type="checkbox" disabled name="signature" id="signature" class="custom-control-input">
                            }
                            <label class="custom-control-label" for="signature">Signature</label>
                        </div>
                        <b style="color: red; float: right; margin-top: -25%; margin-right: -11%;">*</b>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="mb-0" style="font-size: smaller;"> I affirm that this statement is true and accurate to the best of my knowledge, recollection and understanding.  I understand that I may be asked to answer further questions in person.  I also understand that my statements may be shared with any state departments, agencies or any other law-enforcement agency having the authority to investigate the incident. </p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="position-relative form-group">
                    <label class=""><b>Notes</b></label>
                    @*<form novalidate="" action="#" method="get" class="av-invalid">*@
                    <div class="position-relative form-group"><textarea value="@incidentReport.Notes" name="Notes" placeholder="Notes..." maxlength="7500" id="Notes" class="form-control-sm is-untouched is-pristine av-invalid form-control"></textarea></div>
                    @*</form>*@
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" name="Update Report" class="btn btn-success" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
}
